<!DOCTYPE html>
<html lang="fr">
{% include header.html %}


    {% include navigation_bar.html %}

    <div id="main" role="main">

            <h1>Bienvenue sur le portail magique, un espace commun pour toutes les maisons !</h1>

            <h2>C'est ta première visite ? <a href="{{ site.url }}/manual"> Consultes le guide d'utilisation ici.</a></h2>

            <div class="container-blason">
                <a href="{{ site.url }}/gryffondor">
                    <div class="container-blason">
                        <div class="text-blason"><h2>Gryffondor</h2> </br> Courage ♢ Hardiesse ♢ Force d'esprit</div>
                        <img class="image-blason" src="{{ site.url }}/Assets/Images/Blason-gryffondor.png">
                    </div>
                </a>
                <a href="{{ site.url }}/serpentard">
                    <div class="container-blason">
                        <img class="image-blason" src="{{ site.url }}/Assets/Images/Blason-serpentard.png">
                        <div class="text-blason"><h2>Serpentard</h2>  </br>  Ruse ♢ Adresse ♢ Détermination</div>
                    </div>
                </a>
            </div>

            <div class="container-blason">
                <a href="{{ site.url }}/poufsouffle">
                    <div class="container-blason">
                        <div class="text-blason"><h2>Poufsouffle</h2> </br> Équilibre ♢ Loyauté ♢ Patience</div>
                        <img class="image-blason" src="{{ site.url }}/Assets/Images/Blason-poufsouffle.png">
                    </div>
                </a>
                <a href="{{ site.url }}/serdaigle">
                    <div class="container-blason">
                        <img class="image-blason" src="{{ site.url }}/Assets/Images/Blason-serdaigle.png">
                        <div class="text-blason"><h2>Serdaigle</h2> </br> Sagesse ♢ Discernement ♢ Érudition</div>
                    </div>
                </a>
            </div>

        Tu es déjà inscrit à Poudlard ? <a href="{{ site.url }}/connexion">Clique ici pour te connecter</a>.

        <div id="div-link" style="visibility: hidden;">
            <br/>
            <a style="background: {{ page.color }}; color: white; font-size: 20px; margin:0;" id="portail-button" class="button">Rejoindre le portail des quatre maisons</a>
        </div>

    </div>


    {% include footer.html %}

<script type="text/javascript">
    $(document).ready(function(){

        $('#portail-button').click(function(){
            window.location = "{{ site.url }}/secretportal";
        });

    });
</script>
</html>