<!DOCTYPE html>
<html lang="fr">
    {% include header.html %}

    {% include navigation_bar.html %}

    <div class="main">
        <h1>Guide d'utilisation du portail magique</h1>

        <h3>
            ⚠ Ce portail est exclusivement destiné aux étudiants de l'école Poudlard. </br>

            </br>La magie traditionnelle ne fonctionne pas au travers du portail magique.
            </br>Pour lancer des sorts, veuillez utiliser l'entrée textuelle en bas de page et valider.

            </br> </br> </br> En cas de problème technique, merci de contacter Rusard &#128008;.
        </h3>

    </div>


    {% include footer.html %}

</html>