<!DOCTYPE html>
<html lang="fr">
    {% include header.html %}

    {% include navigation_bar.html %}

    <div class="main">
        <h1>Portail secret des quatre maisons.</h1>


        <div id="div-portal">
            </br></br>

<!--            <div class="scene" style="display: flex; align-items: center; justify-content: center;">-->
<!--                <img style="border-radius: 30px; max-width=40%; height:auto;" width="512px" height="512px" src="{{ site.url }}/Assets/Images/secret_portal/closed_portal.png" >-->
<!--                <div style="display: inline-block; width:1024px; height:512px; position:relative;">-->
<!--                    <div id="div-access">-->
<!--                        <h3>Le portail secret est protégé par la plus sombre des magies : un code d'accès.</h3>-->
<!--                        <input id="secret-input" style="width: 150px;" type="text"  maxlength="10" placeholder="Code d'accès">-->
<!--                        <a style="background: {{ page.color }}; color: white;" id="secret-button" class="button">Valider</a>-->
<!--                        <div id="access-output"> </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            {% for scene in site.data.scenes %}
                <div id ="scene-{{ scene[0] }}" class="scene" style="display: flex; align-items: center; justify-content: center;" {% if scene[0] != "ClosedPortal" %} hidden {% endif %} >
                    <img style="border-radius: 30px; max-width=40%; height:auto;" width="512px" height="512px" src="{{ site.url }}/Assets/Images/secret_portal/{{ scene[1].image }}">
                    <div style="display: inline-block; width:1024px; height:512px; position:relative; margin-left:25px;">
                        <h3> {{ scene[1].description }}</h3>

                        {% if scene[0] == "ClosedPortal" %}
                            <input id="secret-input" style="width: 150px;" type="text"  maxlength="10" placeholder="Code d'accès">
                            <a style="background: {{ page.color }}; color: white;" id="secret-button" class="button">Valider</a>
                            <div id="access-output"> </div>
                        {% endif %}

                        {% if scene[0] == "AssemblyRoom" %}
                        <div id="div-keys">
                            <span id="div-key-gryffindor" class="key">
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                            </span>
                            <span id="div-key-slytherin" class="key" >
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;" >
                            </span>
                            </br>
                            </br>
                            <span id="div-key-hufflepuff" class="key">
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                            </span>
                            <span id="div-key-ravenclaw" class="key">
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                            </span>

                        </div>
                        {% endif %}


                    </div>

                </div>

                <div id="choices-{{ scene[0] }}" {% if scene[0] != "ClosedPortal" %} hidden {% endif %} class="choices">
                    </br></br>
                    {% for i in (0..scene.choices.size) %}
                    {% assign choice = scene[1].choices[i] %}
                    {% if choice %}
                    <button type="button" next_scene="{{ choice.scene }}" style="background: {{ page.color }}; color: white;" class="button choice-button" id="button-choice-{{ scene[0] }}-{{ i }}" {% if choice.disabled %}disabled="True"{% endif %}{% if choice.hidden %}hidden{% endif %}>{{ choice.name }}</button>
                    {% endif %}
                    {% endfor %}
                </div>

            {% endfor %}

            </br></br>

            <div id="div-equipment">
                {% assign item_list = site.data.sorts | where: "equipment", "true" %}
                {% for item in item_list %}
                <span id="div-{{ item.key }}" class="equipment">
                    <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                </span>
                {% endfor %}

            </div>
        </div>




    </div>


    {% include footer.html %}

    <script type="text/javascript">
        $(document).ready(function(){

            var count = 0;
            var wrong_text = "Code d'accès incorrect.";
            var correct_text = "Code d'accès valide.";
            var delay = 75;

            function write(text, t, where, button){
                if (t == 0){
                    $(button).off('click');
                    $(where).html("");
                }

                if (t < text.length) {
                    $(where).html($(where).text() + text.charAt(t));
                    setTimeout(write, delay, text, t+1, where, button);
                }
                else {
                     $(button).on('click', check_access);
                }
            }

            function access_success(){
                write(correct_text , 0, '#access-output', '#secret-button');
                $('#div-access').delay(1500).fadeOut();
                $('.choice-button:visible').removeAttr("disabled");
            }

            function access_fail(){
                 write(wrong_text, 0, '#access-output', '#secret-button');
            }

            function check_access(){
                var code = $('#secret-input').val();
                if (code == "9813")
                    access_success();
                else
                    access_fail();
            }

            function load_scene(next_scene_name){
                $('div.scene:visible').hide();
                $('div.choices:visible').hide();
                next_scene = $('#scene-'+next_scene_name);
                next_scene.removeAttr("hidden");
                next_scene.show();
                $('#choices-'+next_scene_name).removeAttr("hidden").show();
            }

            function check_keys(){
                var gr = $("#div-key-gryffindor").find("img").attr("src");
                var sl = $("#div-key-slytherin").find("img").attr("src");
                var ra = $("#div-key-ravenclaw").find("img").attr("src");
                var hu = $("#div-key-hufflepuff").find("img").attr("src");
                return (gr && sl && ra && hu)
            }

            $('#secret-button').click(check_access);

            $('.choice-button').click(function(){
                var next_scene_name = $(this).attr("next_scene");
                load_scene(next_scene_name);
            });

            $(document).on("key-fusion", function(){
                if (check_keys()){
                    $("#button-choice-AssemblyRoom-0").removeAttr("hidden").show();
                }
            });

        });
    </script>

</html>