<!DOCTYPE html>
<html lang="fr">
    {% include header.html %}

    {% include navigation_bar.html %}

    <div class="main">
        <h1>Portail secret des quatre maisons.</h1>


        <div id="div-portal">
            </br></br>

<!--            <div class="scene" style="display: flex; align-items: center; justify-content: center;">-->
<!--                <img style="border-radius: 30px; max-width=40%; height:auto;" width="512px" height="512px" src="{{ site.url }}/Assets/Images/secret_portal/closed_portal.png" >-->
<!--                <div style="display: inline-block; width:1024px; height:512px; position:relative;">-->
<!--                    <div id="div-access">-->
<!--                        <h3>Le portail secret est protégé par la plus sombre des magies : un code d'accès.</h3>-->
<!--                        <input id="secret-input" style="width: 150px;" type="text"  maxlength="10" placeholder="Code d'accès">-->
<!--                        <a style="background: {{ page.color }}; color: white;" id="secret-button" class="button">Valider</a>-->
<!--                        <div id="access-output"> </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            {% for scene in site.data.scenes %}
                <div id ="scene-{{ scene[0] }}" class="scene" style="display: flex; align-items: center; justify-content: center;" {% if scene[0] != "ClosedPortal" %} hidden {% endif %} >
                    <img style="border-radius: 30px; max-width=40%; height:auto;" width="512px" height="512px" src="{{ site.url }}/Assets/Images/secret_portal/{{ scene[1].image }}">
                    <div style="display: inline-block; width:1024px; height:512px; position:relative; margin-left:25px; overflow:auto;">
                        <h3> {{ scene[1].description }}</h3>

                        {% if scene[0] == "ClosedPortal" %}
                            <input id="secret-input" style="width: 150px;" type="text"  maxlength="10" placeholder="Code d'accès">
                            <a style="background: {{ page.color }}; color: white;" id="secret-button" class="button">Valider</a>
                            <div id="access-output"> </div>
                        {% endif %}

                        {% if scene[0] == "AssemblyRoom" %}
                        <div id="div-keys">
                            <span id="div-key-gryffindor" class="key">
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                            </span>
                            <span id="div-key-slytherin" class="key" >
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;" >
                            </span>
                            </br>
                            </br>
                            <span id="div-key-hufflepuff" class="key">
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                            </span>
                            <span id="div-key-ravenclaw" class="key">
                                <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                            </span>

                        </div>
                        {% endif %}

                        {% if scene[0] == "CaveEnigma" %}
                        <div id="div-enigma" number="1">
                             <input id="enigma-answer" style="width: 150px;" type="text"  maxlength="20" placeholder="Réponse">
                            <a style="background: white; color: {{ page.color }}; font-size: 20px; margin:0;" id="enigma-button" class="button">✔</a>
                        </div>

                        {% endif %}

                    </div>

                </div>

                <div id="choices-{{ scene[0] }}" {% if scene[0] != "ClosedPortal" %} hidden {% endif %} class="choices">
                    </br></br>
                    {% for i in (0..scene[1].choices.size) %}
                        {% assign choice = scene[1].choices[i] %}
                        {% if choice %}
                        <button type="button" next_scene="{{ choice.scene }}" style="background: {{ page.color }}; color: white;" class="button choice-button" id="button-choice-{{ scene[0] }}-{{ i }}" {% if choice.disabled %}disabled="True"{% endif %}{% if choice.hidden %}hidden{% endif %}>{{ choice.name }}</button>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endfor %}

            </br></br>

            <div id="div-equipment">
                {% assign item_list = site.data.sorts | where: "equipment", "true" %}
                {% for item in item_list %}
                <span id="div-{{ item.key }}" class="equipment">
                    <img width="128px" height="128px" style="border: 2px dashed #555; border-radius: 10px;">
                </span>
                {% endfor %}

            </div>
        </div>




    </div>


    {% include footer.html %}

    <script type="text/javascript">
        $(document).ready(function(){
            var choice_random = ["SlytherinCorridor", "StoneCave", "HufflepuffCommonRoom", "Toilets", "VaultDoor", "WandStore"];
            var count = 0;
            var wrong_text = "Code d'accès incorrect.";
            var correct_text = "Code d'accès valide.";
            var delay = 75;

            function write(text, t, where, button){
                if (t == 0){
                    $(button).off('click');
                    $(where).html("");
                }

                if (t < text.length) {
                    $(where).html($(where).text() + text.charAt(t));
                    setTimeout(write, delay, text, t+1, where, button);
                }
                else {
                     $(button).on('click', check_access);
                }
            }

            function access_success(){
                write(correct_text , 0, '#access-output', '#secret-button');
                $('#div-access').delay(1500).fadeOut();
                $('.choice-button:visible').removeAttr("disabled");
            }

            function access_fail(){
                 write(wrong_text, 0, '#access-output', '#secret-button');
            }

            function check_access(){
                var code = $('#secret-input').val();
                if (code == "9813")
                    access_success();
                else
                    access_fail();
            }

            function load_scene(next_scene_name){
                $('div.scene:visible').hide();
                $('div.choices:visible').hide();
                next_scene = $('#scene-'+next_scene_name);
                next_scene.removeAttr("hidden");
                next_scene.show();
                $('#choices-'+next_scene_name).removeAttr("hidden").show();
            }

            function check_keys(){
                var gr = $("#div-key-gryffindor").find("img").attr("src");
                var sl = $("#div-key-slytherin").find("img").attr("src");
                var ra = $("#div-key-ravenclaw").find("img").attr("src");
                var hu = $("#div-key-hufflepuff").find("img").attr("src");
                return (gr && sl && ra && hu)
            }

            $('#secret-button').click(check_access);

            $('.choice-button').click(function(){
                var next_scene_name = $(this).attr("next_scene");
                if (next_scene_name == "Random"){
                    next_scene_name = choice_random[(Math.floor(Math.random() * choice_random.length))];
                }
                if (next_scene_name == "DrinkPotion"){
                    $(document).trigger('drink-potion-trigger');
                    return;
                }
                load_scene(next_scene_name);
            });

            $('#enigma-button').click(function(){
                var answer = $("#enigma-answer").val().toLowerCase().replaceAll(' ', '');
                var num = $("#div-enigma").attr("number");
                if (num == "1" && answer == "troll"){
                    $("#enigma-begin").html("Intéressant, tu connais donc Kubart, le troll des cachots de Poudlard, voyons voir comment tu t'en sors avec la prochaine enigme.");
                    $("#enigma-body").html("2ème énigme : <br/><br/>Mauvais présage inondé <br/>Une partie de Sirius Black le connaît <br/>Un destin funeste attend celui à qui il est annoncé <br/><br/>Qui suis-je ? ");
                    $("#div-enigma").attr("number", 2);
                }
                else if (num == "2" && answer == "sinistros"){
                    $("#enigma-begin").html("Formidable, forbidable, quel vivacité d'esprit ! Passons aux choses sérieuse avec la dernière énigme.");
                    $("#enigma-body").html(" 3ème énigme<br/><br/> Cadeau offert par un ancêtre <br/>Volé par un serpent volant <br/>Trésor des oubliettes <br/>L’amnésie lui fait voir rouge <br/><br/>Qui suis-je ? ");
                    $("#div-enigma").attr("number", 3);
                }
                else if (num == "3" && (answer == "rappeltout" || answer == "rapeltout")){
                    $("#enigma-begin").html("Toutes mes félicitations jeune sorcier, tu peux passer sans crainte.");
                    $("#enigma-body").hide();
                    $("#div-enigma").hide();
                    $("#button-choice-CaveEnigma-0").removeAttr("hidden").show();
                }
                else{
                    $("#enigma-begin").html("Faux, totalement faux ! Essaies encore...");
                }
            });

            $(document).on("key-fusion", function(){
                if (check_keys()){
                    $("#button-choice-AssemblyRoom-0").removeAttr("hidden").show();
                }
            });

            $(document).on("stone-trigger", function(){
                $("#choices-OpenPortal.choices").find("button").each(function(){
                    if ($(this).attr("next_scene") == "Random")
                        $(this).hide();
                    else
                        $(this).removeAttr("hidden").show();
                });
            });


            $(document).on("allohomora", function(){
                $("#scene-SlytherinDoor h3").html("La porte est dévérouillée");
                $("#button-choice-SlytherinDoor-0").removeAttr("hidden").show();
            });

            $(document).on("incendio", function(){
                $("#scene-SlytherinDoor h3").html("La végétation prend soudain feu. Vous patientez le temps qu'elle se consume... <br/><br/> Le chemin est désormais praticable !");
                $("#button-choice-SlytherinDoor-0").removeAttr("hidden").show();
            });

            $(document).on("protego", function(){
                if($("#div-snake").attr("step") != 1)
                    return;
                $("#div-snake").html("Protego ! <br/> Il s'en est... fallu d'un ch'veu !<br/><br/>Il n'a pas l'air de vouloir lâcher l'affaire, il faudrait trouver un moyen de l'immobiliser.");
                $("#div-snake").attr("step", "2");
            });

            $(document).on("petrificus", function(){
                 if($("#div-snake").attr("step") != 2)
                    return;
                $("#div-snake").html("Petrificus totalus ! <br/> Le serpent se fige instantanément. Il ne sera désormais plus un problème");
                $("#button-choice-Snake-0").removeAttr("disabled");
            });

            $(document).on("cape-trigger", function(){
                $("#button-choice-SlytherinCorridor-0").removeAttr("hidden").show();
            });

            $(document).on("potion-trigger", function(){
                $("#button-choice-HufflepuffCommonRoom-0").removeAttr("hidden").show();
            });

            $(document).on("drink-potion-trigger", function(){
                $("#button-choice-HufflepuffCommonRoom-0").attr("hidden", "true").hide();
                $("#button-choice-HufflepuffCommonRoom-1").removeAttr("hidden").show();
                $("#scene-HufflepuffCommonRoom").find("h3").html("Le goût de cette mixture est très désagréable. Tu sens tout ton corps se tordre et se distordre. Après un rapide coup d'oeil dans le miroir derrière toi, c'est le préfet lui-même que tu aperçois (la vie est bien faite quand même). <br/><br/> Plus rien à craindre donc, tu peux entrer sans problème, mais ne perds pas de temps !");
            });

        });
    </script>

</html>